@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@custom-variant dark (&:where(.dark, .dark *));
@plugin 'tailwind-scrollbar';

body {
  height: 100vh;
}
.ql-editor {
  font-size: 1.02rem;
}
.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}
.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}
.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}
.post-content a:hover {
  text-decoration: underline;
}
